.bodywrap{
  display: flex;
  text-align: center;
  flex-flow: row wrap;
}

.header {
  background-color: #1b85b8;
}
.aside1 {
  background-color: #5a5255;
}
.main1 {
  background-color: #559e83;
}
.main2{
  background-color: #c3cb71;
}
.aside2 {
  background-color: #ae5a41;
}
.aside3{
  background-color: #1b85b8;
}
.footer {
  background-color: #c3cb71;
}

.header, .aside1, .aside2, .aside3, .main1, .main2, .footer{
  flex: 1 100%;
}
@media all and (min-width: 600px){
  .aside {flex:1 auto;}
}
/*@media all and (min-width: 900px){

}*/
